body {
    width: 350px;
    margin: 10px;
}

h1 {
    text-align: center;
}

main {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

a {
    display:flex;
    align-items: center;
}

button {
    font-family: Roboto, system-ui, sans-serif;
    border: 1px solid rgb( 218, 220, 224 );
    border-radius: 4px;
    user-select: none;
    background: rgb( 26, 115, 232 );
    color: white;
    cursor: pointer;
    display: block;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    width: 100%;
    font-size: 1rem;
}
button:disabled {
    background: rgb( 218, 220, 224 );
    color: rgb( 118, 118, 118 );
    cursor: default;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: stretch;
    margin-bottom: 8px;
}

.back-icon {
    flex: none;
    margin-right: 8px;
    color: rgb( 118, 118, 118 );
    width: 24px;
    height: 24px;
}
.title {
    flex: auto;
    font-size: 1.25rem;
    font-weight: 750;
    margin: auto;
}
.settings-icon {
    flex: none;
    flex-direction: column;
    color:rgb( 118, 118, 118 );
    width: 24px;
    height: 24px;
    margin: auto;
}
.options-container {
    display: flex;
    flex-direction: column;
}
